@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.app__headerText {
  display: flex;
  font-family: "Abel", sans-serif;
  flex-direction: column;
  font-style: italic;
  font-size: 23px;
}

.app__header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}

.header__flex {
  display: flex;
}

.Art__dealers {
  color: #ffb300;
}

.app__header > input {
  height: 43px;
  border: 1px solid lightgray;
  outline-width: 0;
}
